.topBarimg{
    height: 100px;
}
.qrimg{
    height: 200px;
    width: 200px;
    
}

.qrdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImg{
    height: 25px;
    width: 25px;
}

.loginImg{
    height: 20px;
    width: 20px;
}